/* */

  h1 {
    text-align: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  .total {
    font-weight: bold;
  }

#logo{
    width: max-content;
    height: max-content;
    /* border: solid; */
}
#detailsociete{
    width: max-content;
    height: max-content;
    /* border: solid; */
    float: left;
}
#detailfacture{
    position:absolute;
    width: max-content;
    height: max-content;
    /* border: solid; */
    float: left;
    margin-left: 80%;
    margin-top: -7%;
}
#detailclient{
    float: left;
    margin-top: 0%;
    margin-left: 75%;
    width: max-content;
    height: max-content;
    /* border: solid; */
}
#objet{
    margin-bottom: -1%;
    color: blue;
    width: max-content;
    height: max-content;
    /* border: solid; */
}
#sonia1{
    /* border: solid; */
    float: left;
    margin-left: 5%;
}
#sonia2{
    /* border: solid; */
    float: right;
    margin-right: 5%;
    margin-bottom: 10%;

}
#logo img{
    width: 100px;
    height: 100px;
}
